@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1300px;
  height: 100vh;
}

.login {
  height: 100%;
  background-color: #ffb400;
  background-image: url("/vespa_bg.png");
  background-repeat: no-repeat;
  background-size: 160vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 80px;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 10px;
}

#loginForm > div {
  border: 1px solid transparent;
  background: #96bf1e;
  border-radius: 50px;
  padding: 1rem;
}

#loginForm > div > input {
  margin: 0;
  background: transparent;
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#loginForm > div > input:last-child {
  border-left: 1px solid white;
  padding-left: 1rem;
  margin-left: -1rem;
  cursor: pointer;
}

.login-icons {
  position: absolute;
  top: 0;
  width: 1240px;
  margin-left: 2rem;
}

.login-icons > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem 0;
}

.login-icons > div > span {
  width: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0 0.4rem;
  cursor: pointer;
}

#icon-bars {
  font-size: 35px;
  color: white;
  cursor: pointer;
}

#icon-loop {
  color: #e8c42e;
}
